# <span style="color:darkblue"> Lecture 14 - Merging Data </span>

<font size = "5">

In the previous class we covered ...

- Aggregate Statistics
- Merge aggregate stats

In this class we will cover ...

- More database merging!
- Emphasize importance of cleaning before merging
- Database concatenation

# <span style="color:darkblue"> I. Import Libraries and Data </span>

<font size = "5">
Key libraries

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

<font size = "5">

Read dataset on car racing circuits

- https://en.wikipedia.org/wiki/Formula_One <br>
- [See Data Source](https://www.kaggle.com/datasets/rohanrao/formula-1-world-championship-1950-2020)

In [27]:
results_raw  = pd.read_csv("data_raw/results.csv")
races_raw    = pd.read_csv("data_raw/races.csv")
circuits_raw = pd.read_csv("data_raw/circuits.csv")

<font size = "5">

Multi-file datasets can be visualized with an ...

- "Entity Relationship Diagram" (ERD)
- How the identifiers in each table are connected
- Complement to the "codebook"

<img src="figures/erd_f1_simple.png" alt="drawing" width="600"/>

<font size = "5">

Start by opening datasets!

- Check columns with similar names

In [28]:
# We extract all the unique values in races_raw["name"] and circuits_raw["name"]
# We use "sort_values()" to make it easier to compare the variables
# The "codebook/f1_codebook.pdf" file shows that the content is indeed different

unique_data_races    = pd.unique(races_raw["name"].sort_values()) #sort value thing makes it a to z
unique_data_circuits = pd.unique(circuits_raw["name"].sort_values())

In [29]:
unique_data_races

array(['70th Anniversary Grand Prix', 'Abu Dhabi Grand Prix',
       'Argentine Grand Prix', 'Australian Grand Prix',
       'Austrian Grand Prix', 'Azerbaijan Grand Prix',
       'Bahrain Grand Prix', 'Belgian Grand Prix', 'Brazilian Grand Prix',
       'British Grand Prix', 'Caesars Palace Grand Prix',
       'Canadian Grand Prix', 'Chinese Grand Prix', 'Dallas Grand Prix',
       'Detroit Grand Prix', 'Dutch Grand Prix', 'Eifel Grand Prix',
       'Emilia Romagna Grand Prix', 'European Grand Prix',
       'French Grand Prix', 'German Grand Prix', 'Hungarian Grand Prix',
       'Indian Grand Prix', 'Indianapolis 500', 'Italian Grand Prix',
       'Japanese Grand Prix', 'Korean Grand Prix', 'Las Vegas Grand Prix',
       'Luxembourg Grand Prix', 'Malaysian Grand Prix',
       'Mexican Grand Prix', 'Mexico City Grand Prix', 'Miami Grand Prix',
       'Monaco Grand Prix', 'Moroccan Grand Prix', 'Pacific Grand Prix',
       'Pescara Grand Prix', 'Portuguese Grand Prix', 'Qatar Grand Prix',
       'Russian Grand Prix', 'Sakhir Grand Prix', 'San Marino Grand Prix',
       'Saudi Arabian Grand Prix', 'Singapore Grand Prix',
       'South African Grand Prix', 'Spanish Grand Prix',
       'Styrian Grand Prix', 'Swedish Grand Prix', 'Swiss Grand Prix',
       'São Paulo Grand Prix', 'Turkish Grand Prix', 'Tuscan Grand Prix',
       'United States Grand Prix', 'United States Grand Prix West'],
      dtype=object)

In [30]:
unique_data_circuits

array(['AVUS', 'Adelaide Street Circuit', 'Ain Diab', 'Aintree',
       'Albert Park Grand Prix Circuit', 'Autodromo Enzo e Dino Ferrari',
       'Autodromo Internazionale del Mugello',
       'Autodromo Nazionale di Monza', 'Autódromo Hermanos Rodríguez',
       'Autódromo Internacional Nelson Piquet',
       'Autódromo Internacional do Algarve', 'Autódromo José Carlos Pace',
       'Autódromo Juan y Oscar Gálvez', 'Autódromo do Estoril',
       'Bahrain International Circuit', 'Baku City Circuit',
       'Brands Hatch', 'Buddh International Circuit', 'Charade Circuit',
       'Circuit Bremgarten', 'Circuit Gilles Villeneuve',
       'Circuit Mont-Tremblant', 'Circuit Park Zandvoort',
       'Circuit Paul Ricard', 'Circuit de Barcelona-Catalunya',
       'Circuit de Monaco', 'Circuit de Nevers Magny-Cours',
       'Circuit de Pedralbes', 'Circuit de Spa-Francorchamps',
       'Circuit of the Americas', 'Circuito da Boavista',
       'Circuito de Jerez', 'Detroit Street Circuit', 'Dijon-Prenois',
       'Donington Park', 'Fair Park', 'Fuji Speedway', 'Hockenheimring',
       'Hungaroring', 'Indianapolis Motor Speedway', 'Istanbul Park',
       'Jarama', 'Jeddah Corniche Circuit',
       'Korean International Circuit', 'Kyalami',
       'Las Vegas Street Circuit', 'Las Vegas Strip Street Circuit',
       'Le Mans', 'Long Beach', 'Losail International Circuit',
       'Marina Bay Street Circuit', 'Miami International Autodrome',
       'Monsanto Park Circuit', 'Montjuïc',
       'Mosport International Raceway', 'Nivelles-Baulers', 'Nürburgring',
       'Okayama International Circuit', 'Pescara Circuit',
       'Phoenix street circuit', 'Prince George Circuit', 'Red Bull Ring',
       'Reims-Gueux', 'Riverside International Raceway',
       'Rouen-Les-Essarts', 'Scandinavian Raceway',
       'Sebring International Raceway', 'Sepang International Circuit',
       'Shanghai International Circuit', 'Silverstone Circuit',
       'Sochi Autodrom', 'Suzuka Circuit', 'Valencia Street Circuit',
       'Watkins Glen', 'Yas Marina Circuit', 'Zeltweg', 'Zolder'],
      dtype=object)

# <span style="color:darkblue"> II. Dictionaries + Renaming </span>

<font size = "5">

A dictionary is another way to store data. 

- Defined with curly brackets "{...}"
- Different fields are separated by a comma
- Assign values to a field with a colon ":"

<font size = "5">

Dictionaries + Pandas

In [31]:
car_dictionary = {"car_model": ["Ferrari","Tesla","BMW"],
                  "year": ["2018","2023","2022"] }

In [32]:

matrix_dict = {'A':np.array([[1,2,3], [2,4,5]]), 'string': 'ABC'}
matrix_dict['A']
matrix_dict['string']

'ABC'

In [33]:
car_dictionary['car_model']

['Ferrari', 'Tesla', 'BMW']

In [34]:
# This is an example of a pandas data frame created from a dictionary
# This example illustrates the basic syntax of a dictionary

car_dictionary = {"car_model": ["Ferrari","Tesla","BMW", "Something"],
                  "year": ["2018","2023","2022","1993"] }

pd.DataFrame(car_dictionary)

   car_model  year
0    Ferrari  2018
1      Tesla  2023
2        BMW  2022
3  Something  1993

<font size = "5">

Rename columns with dictionaries

``` {"old_name": "new_name"} ```

In [35]:
circuits_raw.rename(columns={'name':'circuit_name'})

,circuitId,circuitRef,circuit_name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,\N,http://en.wikipedia.org/wiki/Losail_Internatio...
76,79,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,\N,http://en.wikipedia.org/wiki/Miami_Internation...

In [36]:
# We first define the dictionary
# Change the pipe ".rename(...)" to rename the columns
# Dictionaries can flexibly accommodate single values or list after ":"

dict_rename_circuits = {"name": "circuit_name"}
circuits = circuits_raw.rename(columns = dict_rename_circuits)

<font size = "5">
Check that ".rename()" worked

In [37]:
# Extract the column names of the "raw" and "clean" data

print("Old List:")
print(circuits_raw.columns.values)
print("")
print("New List:")
print(circuits.columns.values)

Old List:
['circuitId' 'circuitRef' 'name' 'location' 'country' 'lat' 'lng' 'alt'
 'url']

New List:
['circuitId' 'circuitRef' 'circuit_name' 'location' 'country' 'lat' 'lng'
 'alt' 'url']

<font size = 5>

Try it yourself!

- Create a dictionary to rename "name" to "race_name"
- Rename this column in the "races_raw" dataset
- Store the output in a new dataset called "races"

In [39]:
# Write your own code
prac_dictionary = {"name": "race_name"}
races = circuits_raw.rename(columns = prac_dictionary)
races

,circuitId,circuitRef,race_name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,\N,http://en.wikipedia.org/wiki/Losail_Internatio...
76,79,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,\N,http://en.wikipedia.org/wiki/Miami_Internation...

# <span style="color:darkblue"> II. Merging </span>

<font size = "5">

Extracting specific columns from dataset

In [40]:
circuits[["circuitId","circuit_name"]]

    circuitId                          circuit_name
0           1        Albert Park Grand Prix Circuit
1           2          Sepang International Circuit
2           3         Bahrain International Circuit
3           4        Circuit de Barcelona-Catalunya
4           5                         Istanbul Park
..        ...                                   ...
72         75    Autódromo Internacional do Algarve
73         76  Autodromo Internazionale del Mugello
74         77               Jeddah Corniche Circuit
75         78          Losail International Circuit
76         79         Miami International Autodrome

[77 rows x 2 columns]

<font size = "5">

Merge datasets

<img src="figures/merge_goal.png" alt="drawing" width="500"/>


```pd.merge(data1,data2,on,how)```

- Strive to merge only specific columns of data2
- Avoid merging all columns
- Keeping it simple gives you more control over the output

In [41]:
# The "pd.merge()" command combines the information from both datasets
# The first argument is the "primary" datasets
# The second argument is the "secondary" dataset (much include the "on" column)
# The "on" is the common variable that is used for merging
# how = "left" tells Python that the left dataset is the primary one

races_merge = pd.merge(races_raw,
                       circuits[["circuitId","circuit_name"]],
                       on = "circuitId",
                       how = "left")

In [42]:
races_merge[["raceId",'name', "circuitId","circuit_name"]].sort_values(by = "circuit_name")

     raceId                   name  circuitId             circuit_name
760     761      German Grand Prix         61                     AVUS
434     435  Australian Grand Prix         29  Adelaide Street Circuit
335     336  Australian Grand Prix         29  Adelaide Street Circuit
319     320  Australian Grand Prix         29  Adelaide Street Circuit
370     371  Australian Grand Prix         29  Adelaide Street Circuit
..      ...                    ...        ...                      ...
501     502     Belgian Grand Prix         40                   Zolder
486     487     Belgian Grand Prix         40                   Zolder
470     471     Belgian Grand Prix         40                   Zolder
516     517     Belgian Grand Prix         40                   Zolder
608     609     Belgian Grand Prix         40                   Zolder

[1102 rows x 4 columns]

In [46]:
# Another example of merging

results_merge = pd.merge(results_raw,
                         races_raw[["raceId","date"]],
                         on = "raceId",
                         how = "left")

results_merge

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,date
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,2008-03-16
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,2008-03-16
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,2008-03-16
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,2008-03-16
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,2008-03-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11,2022-11-20
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11,2022-11-20
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9,2022-11-20
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130,2022-11-20
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47,2022-11-20

<font size = "5">
<span style="color:red"> Common pitfall: </span> What happens if you don't rename?

In [44]:
# The following code merges the raw data
# which has the "name" column in "races_raw" and "circuits_raw"

races_merge_pitfall = pd.merge(races_raw,
                               circuits_raw[["circuitId","name"]],
                               on = "circuitId",
                               how = "left")

# Python will internally rename the columns "name_x" (for the left dataset)
# and "name_y" (for the right dataset)

print(races_merge_pitfall.columns.values)

['raceId' 'year' 'round' 'circuitId' 'name_x' 'date' 'time' 'url'
 'fp1_date' 'fp1_time' 'fp2_date' 'fp2_time' 'fp3_date' 'fp3_time'
 'quali_date' 'quali_time' 'sprint_date' 'sprint_time' 'name_y']

<font size = "5">

Try it yourself!

- Rename the columns "name_x" and "name_y" <br>
in the dataset "races_merge_pitfall" to <br>
 "race_name" and "circuit_name"

$\quad$ HINT: Create a dictionary and use ".rename()"

In [37]:
# Write your own code

<font size = "5">

Try it yourself!

- Merge the column "alt", "lng", and "lat" into the races data <br>
using "pd.merge()

In [38]:
# Write your own code

# <span style="color:darkblue"> III. Concat </span>

<font size = "5">

Use ".query()" to split data into different parts

In [39]:
circuits_spain = circuits.query('country == "Spain"')
circuits_usa   = circuits.query('country == "United States" | country == "USA"')
circuits_malaysia = circuits.query('country == "Malaysia"')

<font size = "5">

Cocatenate data back together

- Useful if there are datasets split by geography...
- year, or other subgroup

In [40]:
# Works best if columns are identical
# There are also other advanced options if they are not 
# https://pandas.pydata.org/docs/reference/api/pandas.concat.html

circuits_concat = pd.concat([circuits_spain,circuits_usa])

<font size = "5">

Try it yourself!

- Concatenate the USA and Malaysia datasets

In [41]:
# Write your own code